<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <table th:each="job : ${jobs}" class="job-listing">
        <tr th:each="jobItem : ${job}">
            <td th:text="${#strings.capitalizeWords(jobItem.getKey())}"></td>
            <td th:text="${jobItem.getValue()}"></td>

        </tr>
    </table>
</div>

</body>
</html>